/* Styles for Mobile Site */
body{
    background-color:#191110;
    font-family:Tektur;
}

/* Header & Hero */

header{
    display: flex;
    flex-direction:column;
    align-items:center;
}

#hero,footer{
    text-align:center;
    border: 5px solid #db0201;
}
footer{
    background-color:#dbb355;
    margin-top: 1.3em;
}

#hero{
    margin-left:3em;
    margin-right:3em;
    display: flex;
    flex-direction:column;
    align-items:center;
}

#hero div{
    background-color:#dbb355;
    border: 5px solid #db0201;
}

#hero img{
    width:300px;
    max-width: 100%;
    /*margin-bottom: 1.3em;*/
    border: 5px solid #db0201;
    background-color:#191110;
}

#hero div p{
    font-size: 32pt;
}

h1,h2,h4,h5,h6{
    font-size: 35pt;
    text-align:center;
    background-color: #dbb355;
    padding:.3em;
    margin-left:3em;
    margin-right:3em;
    line-height:1;
    border: 3px outset #db0201;
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

h3{
    font-size: 15pt;
    text-align:center;
    color: white;
    padding:.3em;
    margin-left:3em;
    margin-right:3em;
    line-height:1;
}

/* Projects */
#projects{
    display: flex;
    flex-direction:column;
    align-items:center;
}

#projects img{
    /*padding-left: 2em;
    padding-right: 2em;*/
    max-width: 80%;
}

#projects .project{
    text-align: center;
}

/* Reviews */

#reviews{
    display: flex;
    flex-direction:column;
    align-items:center;
}

#reviews .review .name, #reviews .review .title{
    font-weight: bold;
}

.review{
    font-size: 20pt;
    text-align:center;
    background-color: #db3955;
    padding:.3em;
    margin-left:3em;
    margin-right:3em;
    margin-bottom: 1.3em;
    line-height:1;
    border: 3px outset #dcb301;
}

.rating{
    color:#dcb301;
}


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */
    #hero{
        margin-left:1em;
        margin-right:1em;
        width:90%;
    }
    #hero img{
        width:400px;
    }
    #hero div{
        width:100%;
    }
    /* Projects */
    #projects .project{
        display:grid;
        grid-template-columns: 4rem 1.5fr 1.5fr;
    }
    #projects .project img{
        align-content: center;
        justify-content: center;
        margin-bottom:1em;
        width:500px;
        grid-column: 2;
    }
    #projects .project .description{
        align-content: center;
        justify-content: center;
        width:100%;
    }
    h3{
        font-size: 20pt;
    }
    /* Reviews */
    #reviews{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .review{
        height: 100%;
    }

    h1,h2,h4,h5,h6{
        font-size: 45pt;
    }

    /* Footer */

}